#section-title {
    text-align: left;
    font-size: 21px;
}

#top-comment {
    display: flex;
}

#comment-item {
    min-height: 200px;
    width: 200px;
    margin: 10px;
    border: 3px solid black;
    border-radius: 15px;
    flex-grow: 1;
}

#comment-container {
    display: flex;
    justify-content: center;
}

#comment-label {
    margin-right: 10px;
}

label {
    justify-content: center;
}

.search-bar-movie-name {
    display: flex;
    justify-content: left;
    height: 55px;
    padding-top: 10px;
    padding-bottom: 10px;
}