{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<br>
<h1 class="section-title">Top Rated Movies</h1>
<ol class="list-group list-group-numbered">
    {% for movie in movies %}
        {% if movie["rating"] != -1 %}
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div>
                    <div class="fw-bold" id="title">{{ movie["title"] }}</div>
                    <div id="year">{{ movie["year"] }}</div>
                    <div id="avg-rating">rating: {{ movie["rating"] }}</div>
                    <span class="badge" id="detail-button"><a id="detail-button-font" href="{{ url_for('movie_detail', movie_title=movie.title) }}">Detail</a></span>
                </div>
                <span class="badge" id="watchlater-button"><a id="watchlater-button-font" href="{{ url_for('add_watchlater_main_page', movie_title=movie.title) }}">+Add to watch later</a></span>
            </li>
        {% endif %}
    {% endfor %}
</ol>

<br>

<h1 class="section-title">Favorite Celebs</h1>
<ol class="list-group list-group-numbered">
    {% for celeb in celebs %}
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div>
                <div class="fw-bold" id="celeb-name">{{ celeb["name"] }}</div>
                <div id="celeb-birth-year">Birth year : {{ celeb["birth"] }}</div>
                <div id="Vote">Vote : {{ celeb["favorite_vote"] }}</div>
            </div>
            <span class="badge" id="favorite-button"><a id="favorite-button-font" href="{{ url_for('add_favorite_celeb_main_page', celeb_name=celeb.name) }}">+Favorite</a></span>
        </li>
    {% endfor %}
</ol>

{% endblock %}