{% extends "layout.html" %}

{% block title %}
    Watch Later
{% endblock %}

{% block main %}
<ol class="list-group list-group-numbered">
    {% for movie in movie_list %}
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div>
                <div class="fw-bold" id="title">{{ movie["title"] }}</div>
                <div id="year">{{ movie["year"] }}</div>
            </div>
            <span class="badge bg-primary">Remove</span>
        </li>
    {% endfor %}
</ol>
{% endblock %}

